/* RESET */
html,
body {
    height: 100%;
    margin: 0;
    font-family: "Poppins", sans-serif;
    background-color: rgb(0, 0, 0) !important;
}

.fundoPaginas {
    background-color: #ffffff !important;
}

/* MOLDURA DE FUNDO PERSONALIZADO */
.moldura-imagem {
    position: absolute;
    top: 0;
    right: 0;
    width: 65%;
    height: 100%;
    background-image: url('../img/moldura_fundo.png');
    border-radius: 0 0 0 150%;
    background-color: transparent;
    opacity: 0.8;
    background-size: 100% 100%;
    background-repeat: no-repeat;

}

/* Centralização do conteúdo dentro do mainLogin */
.mainLogin {
    width: 100%;
    max-width: 400px;
    padding: 30px;
}

/* ESTILIZAÇÃO DO FORMULÁRIO DE VALIDAÇÃO */
.formLogin h2,
.formLogin h1 {
    color: #ffffff !important;
    font-family: 'Maharlika', sans-serif !important;
}

.formLogin h2 {
    font-size: 24px !important;
}

.formLogin h1 {
    font-size: 56px !important;
}

.labelUsuario,
.labelSenha {
    color: #ffffff !important;
}

.inputUsuario,
.inputSenha,
.botaoEntrar {
    width: 100%;
    max-width: 350px;
    display: block;
}

.inputUsuario,
.inputSenha {
    background-color: transparent !important;
    border-radius: 0 !important;
    border: none !important;
    border-bottom: 1px solid #ffffff !important;
    box-shadow: none !important;
    padding-left: 10px;
    color: #fff !important;
}

.inputUsuario::placeholder,
.inputSenha::placeholder {
    color: white !important;
    opacity: 1;
}

.inputUsuario:focus,
.inputSenha:focus {
    border-bottom: 2px solid #00ff00 !important;
    outline: none;
}

/* ESTILIZAÇÃO DO BOTÃO */
.botaoEntrar {
    background-color: #28a745;
    color: white;
    border: none !important;
    padding: 10px;
    cursor: pointer;
    margin-top: 20px;
}

.botaoEntrar:hover {
    background-color: #218838;
}

/*ESTILIZAÇÃO DO FOOTER*/
footer {
    width: 100%;
    max-width: 350px;
    background-color: #000;
    color: #fff;
    padding: 10px 0;
}

footer .copy p {
    font-size: 13px;
}

/* ESTILIZAÇÃO DAS PÁGINAS */
.navbar-text {
    font-size: 1.2rem;
    color: #000000 !important;
    font-family: "Poppins", serif;
}

.sidebar {
    width: 100% !important;
    max-width: 350px !important;
    background-color: #000000;
    padding: 20px;
    padding-top: 20px;
    margin-top: 58px;
}

/* Estilizando o aside */
.perfil-aside {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;
    gap: 5px;
}

/* Estilização do bloco de perfil */
.perfil-main {
    padding: 20px;
    text-align: center;
    /* Centraliza o conteúdo dentro do bloco */
}

/* Estilo da imagem do avatar */
.avatarSidebar,
.perfil-avatar {
    border-radius: 50%;
    object-fit: cover;
    width: 150px;
    height: 150px;
    margin-bottom: 15px;
}

.perfil-nome,
.nomeSidebar {
    font-size: 22px;
    color: #ffffff !important;
    margin: 0;
}

.cargoSidebar {
    font-size: 14px;
    color: #ffffff;
    margin: 0;
    font-style: italic;
}

.perfil-nome {
    font-weight: bold;
}

.perfil-cargo {
    font-size: 14px;
    color: #666;
    margin: 0;
    font-style: italic;
}

/* ESTILIZAÇÃO DO MENU NA SIDEBAR */
.sidebar ul.nav {
    margin-top: 20px;
    padding: 0;
}

.sidebar ul.nav li {
    margin-bottom: 10px;
    border-bottom: 1px dashed #bcbcbc;
}

.sidebar ul.nav li a {
    text-decoration: none;
    font-size: 16px;
    color: #ffffff;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 4px;
    transition: all 0.3s ease;
}

.sidebar ul.nav li a .fas {
    margin-right: 10px;
    color: #00ff6a;
    transition: color 0.3s ease;
}

.sidebar ul.nav li a:hover {
    background-color: #00ff00;
    color: #fff;
}

.sidebar ul.nav li a:hover .fas {
    color: #fff;
}

/* Main */
main {
    padding: 20px;

}


/* Estilo para o botão de alteração de foto */
button.alterarFoto {
    background-color: #2b2b2b;
    color: #ffffff;
    border: none;
    width: 150px;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Efeito de hover no botão de alteração de foto */
button.alterarFoto:hover {
    background-color: #000000;
    /* Cor de fundo do botão quando o mouse passa por cima */
}

/* Efeito de foco no botão de alteração de foto */
button.alterarFoto:focus {
    outline: none;
    /* Remove o outline padrão */
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.5);
    /* Adiciona uma borda azul ao focar */
}



.perfil-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

/* Tabs */
.perfil-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    gap: 20px;
}

.perfil-main,
.infoPessoal,
.permissoes {
    width: 32%;
    /* Cada um ocupa aproximadamente 1/3 do espaço disponível */
    flex-shrink: 0;
    /* Garante que os itens não encolham */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 33%;
}

/* Estilização geral do formulário de configurações */
.configuracoes form {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

/* Estilo para cada grupo de label e input */
.configuracoes form label {
    font-size: 1rem;
    color: #0f0f0f;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Estilo para os inputs */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    background-color: #333;
    color: white;
    border: 1px solid #555;
    border-radius: 5px;
    font-size: 1rem;
    transition: border-color 0.3s ease;
}

/* Placeholder dos inputs */
input[type="text"]::placeholder,
input[type="password"]::placeholder,
input[type="email"]::placeholder,
input[type="tel"]::placeholder {
    color: #ccc;
}

/* Inputs focados (quando o usuário clicar no campo) */
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus {
    border-color: #28a745;
    outline: none;
}

/* Estilo para o botão salvar */
button[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

/* Efeito de hover no botão */
button[type="submit"]:hover {
    background-color: #218838;
}

/* Efeito de foco no botão */
button[type="submit"]:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(40, 167, 69, 0.5);
}


/* Estilo para o bloco de informações pessoais */
.infoPessoal {
    padding: 20px;
}

.infoPessoal h3 {
    font-size: 1.6rem;
    margin-bottom: 20px;

}

.infoPessoal p {
    font-size: 1.1rem;
    margin-bottom: 10px;
}

.infoPessoal p strong {
    font-weight: bold;
}


/* Estilo para a seção de permissões */
.permissoes {
    padding: 20px;
}

.permissoes h3 {
    font-size: 1.5rem;
    margin-bottom: 15px;
}

/* Estilo para a lista de permissões */
.permissoes ul {
    list-style-type: none;
    padding: 0;
}

.permissoes ul li {
    font-size: 1.1rem;
    font-weight: bold;
    color: #dc3545;
    margin-bottom: 10px;
}

.permissoes ul li:hover {
    color: #c82333;
}

/*ESTILIZAÇÃO PARA A PÁGINA DE DASHBOARD*/

.grafico{
    border:none!important;
    width: 350px;
    height: 350px;
}


.btnDashboard{
    width: 25%;
}

/* Responsividade */
@media (max-width: 768px) {

    .perfil-main,
    .infoPessoal,
    .permissoes {
        width: 100%;
    }

    .configuracoes form {
        max-width: 100%;
    }

    input[type="text"],
    input[type="password"],
    input[type="email"],
    input[type="tel"] {
        width: 100%;
    }

    .permissoes {
        padding: 15px;
    }

    .permissoes h3 {
        font-size: 1.3rem;
    }

    .permissoes ul li {
        font-size: 1rem;
    }

    .infoPessoal {
        padding: 15px;
    }

    .infoPessoal h3 {
        font-size: 1.4rem;
    }

    .infoPessoal p {
        font-size: 1rem;
    }
}
