{% extends "base.html" %}

{% block title %}Dashboard - Sistema de Gerenciamento{% endblock %}

{% block content %}

<!-- Conteúdo -->
<h1 class="navbar-text text-center mt-2">
  Veículos | Sistema de Gerenciamento de Segurança
</h1>

<!-- Informações de veículos -->
<section>
  <div class="row mt-5 justify-content-center text-center">
    <div class="col-md-10">
      <h3 class="text-center">Veículos</h3>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Modelo</th>
              <th scope="col">Placa</th>
              <th scope="col">Status</th>
              <th scope="col">Localização</th>
              <th scope="col">Tipo</th>
              <th scope="col">Ação</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Batmóvel</td>
              <td>Wayne-001</td>
              <td> Disponível</td>
              <td>Garagem Principal</td>
              <td>Terrestre</td>
              <td>
                <!-- Ícones de editar e apagar -->
                <button class="text-warning border-0 bg-transparent" data-bs-toggle="tooltip" data-bs-placement="top"
                  title="Editar" onclick="editarVeiculo()">
                  <i class="fas fa-edit"></i>
                </button>

                <button class="text-danger border-0 bg-transparent" data-bs-toggle="tooltip" data-bs-placement="top"
                  title="Excluir" onclick="excluirVeiculo()">
                  <i class="fas fa-trash-alt"></i>
                </button>

              </td>
            </tr>
          </tbody>
        </table>

      </div> <!-- Fechamento da div table-responsive -->

      <div class="d-flex justify-content-between">
        <button type="button" class="btn btn-success btnDashboard" onclick="adicionarVeiculo()">Adicionar</button>

      </div>

    </div>
  </div>
</section>
</div>

{% endblock %}

{% block scripts %}
{% endblock %}